<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum lectus ornare lorem semper lobortis. Duis ut congue enim, id aliquet neque. Duis at felis vehicula odio commodo vulputate at non mauris. Quisque et magna nec mauris luctus aliquet a placerat elit. Aenean maximus porta sem in fermentum. Aenean fermentum lorem justo, quis euismod neque molestie nec. Cras sit amet magna purus. Sed iaculis vehicula nulla, eget posuere mauris aliquet nec. Praesent pretium metus vel pulvinar laoreet. Nunc et erat eget leo vestibulum iaculis. Nulla eleifend elit diam, vel convallis mauris luctus in. Praesent scelerisque ex non nulla fermentum volutpat. Duis ut sapien ipsum. Quisque in magna vel mi viverra dapibus. Nunc varius consectetur velit non pharetra.
      </p>
    </section>

    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li> <i class="fa-solid fa-envelope"></i> email@email.com </li>
        <li> <i class="fa-solid fa-phone"></i> (81) 99502-5913</li>
        <li> <i class="fa-solid fa-phone"></i> (81) 99502-5913</li>
      </ul>
    </address>
  </div>

  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
